<html>
  <head>
    <title>Library For All</title>
    <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/4.1.2/basscss.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/library.css" media="screen" title="no title" charset="utf-8">

    <script src="http://fb.me/react-0.12.2.js"></script>

  </head>
  <body>

    <div class="center bg-light-gray">
      <span class="h1">My Books</span>
    </div>

    <div id="books" class="">

    </div>

  </body>
    <script charset="utf-8" src="/js/bookJSON.js"></script>
    <script type="text/jsx" src="/js/build/bookGrid.jsx.js"></script>
    <script src="/js/build/bookCell.jsx.js"></script>
    <script src="/js/build/bookList.jsx.js"></script>
    <script src="/js/build/showBook.jsx.js"></script>
    <script src="/js/build/allBooks.jsx.js"></script>
    <script src="/js/build/book.jsx.js"></script>
    <script charset="utf-8" src="/js/library.js"></script>
</html>
