nav {
  height: auto;
  position: fixed;
  opacity: .98;
  overflow: hidden;
  z-index: 1
}

.navbar-offset {
  padding-top: 54px;
}

.bookList {
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

}

ul {
  list-style: none;
  padding-left: 0;
}

.point {
  cursor: pointer;
}

.border {
  border: 1px black solid;
}

.large-image {
  height: 512px;
  min-width: 350px;
}

.fa {
  font-size:36px;
}

.thumbnail {
  min-height: 250px;
  min-width: 180px;
  height: 250px;
  width:180px;
  border: 1px black solid;
}

.stuck {position: fixed;}

.gridTitle {
  /*position: relative;*/
}

/* PADDING EXTENSIONS IN BASSCSS STYLE */
.pr1 {
  padding-right: 1rem;
}

.pr2 {
  padding-right: 2rem;
}

.pr3 {
  padding-right: 3rem;
}

.pr4 {
  padding-right: 4rem;
}

.vab {
  vertical-align: baseline;
}

.vas {
  vertical-align: sub;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -84px;
}

.ma {
  margin: 0 auto;
}

.table-no-width {
  display: table;
}


/* FLIP BOOKS ON HOVER */

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 180px;
  height: 250px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
