@-ms-viewport{
  width: device-width;
}

nav {
  height: auto;
  position: fixed;
  opacity: .98;
  overflow: hidden;
  z-index: 3
}

.navbar-offset {
  padding-top: 54px;
}

.bookList {
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

}


ul {
  list-style: none;
  padding-left: 0;
}

.point {
  cursor: pointer;
}

.border {
  border: 1px black solid;
}

.large-image {
  height: 512px;
  min-width: 350px;
}

.fa {
  font-size:36px;
}

.fa-large {
  font-size:84px;
}

.thumbnail {
  min-height: 250px;
  min-width: 180px;
  height: 250px;
  width:180px;
  border: 1px black solid;
}

.stuck {position: fixed;}

.gridTitle {
  /*position: relative;*/
}

/* PADDING EXTENSIONS IN BASSCSS STYLE */
.pr1 {
  padding-right: 1rem;
}

.pr2 {
  padding-right: 2rem;
}

.pr3 {
  padding-right: 3rem;
}

.pr4 {
  padding-right: 4rem;
}

.vab {
  vertical-align: baseline;
}

.vas {
  vertical-align: sub;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -84px;
}

.ma {
  margin: 0 auto;
}

.table-no-width {
  display: table;
}


/* FLIP BOOKS ON HOVER */

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flip-container, .front, .back {
    width: 180px;
    height: 250px;
}

.flipper {
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;


    position: absolute;
    top: 0;
    left: 0;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-container:hover .back, .flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


.front {
    z-index: 2;
}

.full-width {
  min-width: 190px;
}
