.bookList {
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

}

.bookCell {
  border: 1px black solid;
}

.thumbnail {
  min-height: 250px;
  min-width: 190px;
}

.stuck {position: fixed;}



/* PADDING EXTENSIONS IN BASSCSS STYLE */
.pr1 {
  padding-right: 2rem;
}

.pr2 {
  padding-right: 2rem;
}

.pr3 {
  padding-right: 2rem;
}

.pr4 {
  padding-right: 2rem;
}
